@if (productDetails) {
    <section class="dark:bg-slate-800 ">
        <div class="container md:mx-auto">
            
            <h1 class="text-2xl font-bold text-center dark:text-white text-green-400 py-3">Product Details</h1>
            <div class=" flex flex-wrap">
    
                <div class="w-3/12 px-11">
                    <div>
                        <!-- <img [src]="productDetails.imageCover" class="w-full" alt=""> -->
    
                    </div>
                    <owl-carousel-o [options]="customOptions">
                        @for (item of productDetails.images; track $index) {
    
    
                        <ng-container>
                            <ng-template carouselSlide>
                                <img [src]="item" class="w-full " [alt]="productDetails.title"
                                    [title]="productDetails.title">
                            </ng-template>
                        </ng-container>
                        }
    
                    </owl-carousel-o>
                </div>
                <div class="w-9/12 px-20 justify-center items-center flex">
                   <div>
                    <h2 class="text-2xl font-bold dark:text-white text-green-400 py-3">
                        {{ productDetails.subcategory[0].name|lowercase }}
                    </h2>
                    <p class="dark:text-white">{{productDetails.description}}</p>
    
    
                    <div class="flex items-center mt-2.5 mb-5">
                        @for (num of [1,2,3,4,5]; track $index) {
                        @if (num <= productDetails.ratingsAverage) { <i class="fa-solid fa-star text-yellow-300"></i>
                            }
                            }
                            @if(productDetails.ratingsAverage%1!==0){
                            <i class="fa-regular fa-star-half-stroke text-yellow-300"></i>
    
    
                            }
                            @if(productDetails.ratingsAverage<5){ @if (productDetails.ratingsAverage%1!==0) { @for (number
                                of [1,2,3,4,5]; track $index) { @if (number>productDetails.ratingsAverage+1) {
                                <i class="fa-regular fa-star text-yellow-300"></i>
                                }
                                }
                                }@else {
                                @for (number of [1,2,3,4,5]; track $index) {
                                @if (number>productDetails.ratingsAverage ) {
                                <i class="fa-regular fa-star text-yellow-300"></i>
    
    
                                }
                                }
    
                                }
    
                                }
                                <span
                                    class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">{{productDetails.ratingsAverage}}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span
                            class="text-xl font-bold text-black group-hover:scale-105 dark:text-white">{{productDetails.price | currency :"GBP"}}
                            </span>
                        </div>
                        <button (click)="SendProduct(productDetails._id)"
                         class=" bg-[#0aad0a] btnDetails  my-3   dark:text-black">Add
                            To Cart</button>
                   </div>
    
    
    
                </div>
    
            </div>
        </div>
    </section>
}