@if (cartProduct) {


<div class="relative overflow-x-auto shadow-md  mt-11 ">
   <div class="flex flex-wrap justify-center items-center dark:bg-gray-800">

       <h2 class=" text-center py-10 text-2xl text-green-400 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-400" >Total Cart Price {{cartProduct.totalCartPrice |currency:"GBP"}}</h2>
    <button   (click)="deleteAllProduct()"  class="font-medium ml-6 text-black dark:text-black bg-red-600 hover:bg-red-400 p-1 rounded-md"> remove all products from the list
        <i class="fa-solid fa-trash"></i>
    </button>
   </div> 
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-16 py-3">
                    <span class="sr-only">Image</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    Product
                </th>
                <th scope="col" class="px-6 py-3">
                    Qty
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @for (item of cartProduct.products; track item.product._id) {

            
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                
                <td class="p-4">
                    <img [src]="item.product.imageCover" class="w-16 md:w-32 max-w-full max-h-full" alt="Apple Watch">
                </td>


                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    {{item.product.title.split("").slice(0,25).join("")}}
                </td>


                <td class="px-6 py-4">
                    <div class="flex items-center">

                        
                        <button  (click)="UpdateQuantity(item.product._id,item.count-1)" class="inline-flex items-center justify-center p-1 me-3 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                            <i class="fa-solid fa-minus"></i>
                        </button>


                      
                           <div class="bg-gray-50 w-14 border text-center border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                           >{{item.count}}</div>
                        
                        <button (click)="UpdateQuantity(item.product._id,item.count+1)" class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                           
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </td>

<!-- price -->
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                   {{item.price |currency :"GBP"}}
                </td>

<!-- Remove -->
                <td class="px-6 cursor-pointer py-4">
                    <button (click)="deleteProduct(item.product._id)"   class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>

        }
        
    
    </tbody>
</table>
<div class="dark:bg-slate-800 py-2 flex justify-center items-center">

    <button [routerLink]="['/order',cartProduct._id]" [disabled]="!cartProduct._id"
    class="btn-main bg-[#0aad0a]  disabled:bg-[#ccc]    mx-12 "
    [ngClass]="{
        
       'hover:bg-green-500': cartProduct._id
    }"
    >order</button>
</div>

</div>


}