<footer class="bg-[#f0f3f2] dark:bg-gray-900  py-8">
    <div class="container mx-auto md:max-w-screen-xl ">
        <div class="innner">
            <h2 class="m-0  text-3xl dark:text-white">Get The FreshCart App</h2>
            <p class="text-muted small dark:text-white">
                We Will Send You a Link, Open it on Your Phone to download the app
            </p>
            <div class="flex">


                <div class="relative w-full mr-3 formkit-field my-4">
                    <label for="member_email"
                        class=" mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email
                        address</label>

                    <input id="member_email"
                        class="formkit-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        name="" placeholder="Your email address..." required="" type="email">
                </div>
                <button class="formkit-submit">

                    <span
                        class="px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Subscribe</span>
                </button>
            </div>

            <div class="flex justify-between items-center p-5 border-y">
                <div class="flex items-center ">

                    <h3 class="h-6 dark:text-white">payment partners</h3>
                   <div class="px-2 flex justify-center items-center">
                    <img src="../../../assets/images/amazon-pay.png" width="50px" height="20px" alt="" />
                    <img src="../../../assets/images/American-Express-Color.png" width="30px" alt="" />
                    <img src="../../../assets/images/paypal.png" width="30px" alt="" />
                    <img src="../../../assets/images/mastercard.webp" width="30px" alt="" />
                   </div>
                </div>


                <div class=" flex">
                    <h3 class="h6 m-0 dark:text-white">Get Deliveries with FreshCart</h3>
                    <div class="px-3">

                    </div>
                    <img src="../../../assets/images/get-google-play.png" width="75px" alt="" />
                    <img src="../../../assets/images/get-apple-store.png" width="75px" alt="" />


                </div>



            </div>
        </div>
    </div>
</footer>
