<router-outlet></router-outlet>

<ngx-spinner name="loadOne" bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/eNBusUv6CfNT0kRQew/giphy.gif?cid=ecf05e471u4qy1klj1qrwbx7kdfrv95f2youweh8t0g6vyz5&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 400px; border-radius: 10px;' /> ">
</ngx-spinner>

<ngx-spinner name="loadTwo" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/4rORbodnSKzXMNL9AZ/giphy.gif?cid=790b7611h8a9ooci1yuaz0fi8vga0fh1i5uphmb14w98erip&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>

<ngx-spinner name="loadThree" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/eS7QZ2IlzKPTiI2Ad8/giphy.gif?cid=ecf05e47p03ze5ealan0wpzi5drz1uhs0o2sesircwy5nqnp&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>

<ngx-spinner name="loadThreeAdd" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/HwSd0TGKxjqWOGEtvM/giphy.gif?cid=ecf05e47yceezn3hbr97qiqpleus9dq7oodxl8ij8ox28q3t&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>

<ngx-spinner name="loadThreeOrder" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/TgL7eZ4fsPNEHwOtT9/giphy.gif?cid=790b7611wo6wyogkcr1gvh1nw778y21zdpact0u0q8gnk3rz&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>


<ngx-spinner name="deleteLoading" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExc3hmOGZnYTcyODY3Mm02OHAyNWp1eHQyZzBiM2xldm1pczJ6ZXpvdCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/xULW8N9O5WD32L5052/giphy.gif' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>

<ngx-spinner name="productLoading" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/yKxo7c9Q6pZoUzAfPu/giphy.gif?cid=ecf05e47e8vvisb0lgjphh4hq5xvix3z1jawioowxe0hemr1&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>

<ngx-spinner name="cartLoading" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/94EQmVHkveNck/giphy.gif?cid=ecf05e479jvrh3b606zxz2ae9srcgwu8i5kmmodvwfzb9zza&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>
<ngx-spinner name="deleteProduct" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/7SB2ZKDz4ZCNLnpga7/giphy.gif?cid=ecf05e47cjx1v32olxoyic6os3w8fugtaxr39qm7i7qq9zpl&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>

<ngx-spinner name="loveProduct" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExenh3Y2tkajk3MXhpcTgydjY1cnRwaGM3NWNwNzB0ZjA5bzFnbnh4aiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/R6gvnAxj2ISzJdbA63/giphy.gif' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>


<ngx-spinner name="Category" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/110F1JFzWKtiA8/giphy.gif?cid=790b76112o88m10v6c7h856gog2iyremdtrt420n15oja2xz&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>
<ngx-spinner name="brands" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXcxMXJhbmVmMTZtbnVxb2pmY3J4MWZuZHhlY3U0eG9lbTQzMHU5dyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/KPgOYtIRnFOOk/giphy.gif' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>

<ngx-spinner name="signin" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    template="<img src='https://media.giphy.com/media/l3vRgrfbpatUAWf8A/giphy.gif?cid=790b76112nv0lkc8r43895cv2iutl58kjk86xshc5ko6568f&ep=v1_gifs_search&rid=giphy.gif&ct=g' style='width: 600px; border-radius: 10px;' /> ">
</ngx-spinner>