<div class="container mx-auto my-16 ">
   

<form class="max-w-lg mx-auto "[formGroup]="register"  (ngSubmit)="sendData()" >
    <h1 class="my-3 text-[#0aad0a]">Register Now:</h1>
    
      <div class="relative  z-0 w-full mb-5 group">
          <input formControlName="name" [ngClass]="{
           'is-valid': true 
          }" type="text"  name="_name"  class="  block py-2.5 px-0 w-full b text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "  />
          <label for="_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-7 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-7"> your name</label>
      </div>

      @if(register.get('name')?.errors &&  (register.get('name')?.touched || register.get('name')?.dirty)){
        <div class="text-black bg-red-300  rounded-md   my-8  ">
          <ul class="">
              @if(register.get('name')?.getError('required')){
    
                  <li class="px-8">Input is required.</li>
              }
              @if(register.get('name')?.getError('minlength')){
                  <li class="px-8">Input must be more than 2 characters.</li>
              }
              @if(register.get('name')?.getError('maxlength')){
                  <li class="px-8">Input must be fewer than 20 characters.</li>
              }
            
              
          </ul>
    
        </div>
      }
    
 
    <div class="relative z-0 w-full mb-5 group">
        <input formControlName="email" type="email" name="_email"  class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
        <label for="_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-7 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-7">Email address</label>
    </div>
    @if(register.get('email')?.errors && (register.get('email')?.touched || register.get('email')?.dirty)){
        <div class="text-black bg-red-300  rounded-md   my-8 ">
          <ul class="">
              @if(register.get('email')?.getError('required')){
  
                  <li class="px-8">Input is required.</li>
              }
              @if(register.get('email')?.getError('email')){
                <li class="px-8">Email must end with {{endEmail}}</li>

              }
           
          </ul>
  
        </div>
      }
    <div class="relative z-0 w-full mb-5 group">
        <input formControlName="password" type="password" name="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "  />
        <label for="_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
    </div>
    @if(register.get('password')?.errors && register.get('password')?.touched){
        <div class="text-black bg-red-300  rounded-md   my-8 ">
          <ul class="">
              @if(register.get('password')?.getError('required')){
  
                  <li class="px-8">Input is required.</li>
              }
              @if(register.get('password')?.getError('pattern')){
                <li class="px-8">Your password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character (such as #, ?, !, $, %, ^, &, , or -)</li>

              }
           
          </ul>
  
        </div>
      }
    <div class="relative z-0 w-full mb-5 group ">
        <input formControlName="rePassword" type="password" name="repeat_password" id="floating_repeat_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "  />
        <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-7">Confirm password</label>
    </div>
    @if(register.getError('mismatch') && register.get('rePassword')?.touched){
        <div class="text-black bg-red-300  rounded-md   my-8 ">
          <ul class="">
              @if(register.get('rePassword')?.getError('required')){
  
                  <li class="px-8">Input is required.</li>
              }

                <li class="px-8">"The password must be entered identically in both fields.</li>

          
           
          </ul>
  
        </div>
      }
      <h6 class="text-red-400">{{getError}}</h6>
    <button type="submit"  [disabled]="register.invalid ||isBottonSub" [ngClass]="{
        'hover:bg-green-400':register.valid
    }" class="text-white bg-[#0aad0a]  disabled:bg-[#ccc]  font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
 
 @if (! isBottonSub) {
  Submit
 }@else {

 

   <i class="fa-solid fa-spinner fa-spin" ngClass="" ></i> 
 }
  </button>
  </form>
  

</div>
