@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';
.activeON{
    background-color: #0aad0a !important;
    color: white !important;
    padding: 5px !important;
    

}
.toggle-checkbox:checked {
    @apply right-0 border-green-400;
    right: 0;
    border-color: #68D391; // Use a Tailwind color or a custom color
  }
  
  .toggle-checkbox:checked + .toggle-label {
    @apply bg-green-400;
    background-color: #68D391; // Use a Tailwind color or a custom color
  }


/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');


:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
  // font-family: "IM Fell English", serif !important;
  // font-weight: 400;
  // font-style: italic;
}


.btn-main {
  // background-color: var(--main-color);
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.btn {
  // background-color: var(--main-color);
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transform: translateY(100%);
  transition: all 1s;
  opacity: 0;
}
.btnDetails {
  // background-color: var(--main-color);
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;

}
